doctype html
body
  div#root
  script(src="../node_modules/react/dist/react.min.js")
  script(src="../node_modules/react-dom/dist/react-dom.min.js")
  script.
    let mountNode = document.getElementById("root")
  script(src="hello.js")
